html, body {
	height: 100%;
}

body {
	transition: background-color 0.5s ease-in-out;
}

.dark {
	background-color: white;
}

.jump {
	background-image:url("1.png");
	background-size: cover;
	position: absolute;
	margin: auto;
	top: 100px;
	/*left: 20px;*/
	width: 100%;
	height: 100%;
	transition: all 0.5s ease-in-out;
	cursor: pointer;
}

.hover {
	background-image:url("2.png");
	background-size: cover;
	position: absolute;
	margin: auto;
	top: 100px;
	/*left: 20px;*/
	width: 100%;
	height: 100%;
}

.active {
	background-image:url("3.png");
	background-size: cover;
	position: absolute;
	margin: auto;
	top: 100px;
	/*left: 20px;*/
	width: 100%;
	height: 100%;
}