.homebody {
/*  background-image: url("giphy.gif");
    background-size:800px;
    background-image: url("giphy.gif");
    background-size: 800px;
    */
  position:fixed;
    background-image: url("giphy.gif");
    background-size:750px;
  -webkit-animation:100s scroll infinite linear;
  -moz-animation:100s scroll infinite linear;
  -o-animation:100s scroll infinite linear;
  -ms-animation:100s scroll infinite linear;
  animation:100s scroll infinite linear;
  top:0;
  left:0;
  width:100%;
 height:100%;
}



@-webkit-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@-moz-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@-o-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@-ms-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}


.btn-wrap{
  margin:0 auto;
  width:200px;
  padding-top:50px;
}

a{
  background:#e74c3c;
  color:#FFF;
  position:relative;
  padding:15px;
  font-weight:900 !important;
  text-transform:uppercase;
  border-radius:5px;
  font:14px lato;
  opacity:0.8;
  letter-spacing:1px;
  text-decoration:none;
  box-shadow:#c0392b 0px 7px 2px,#000 0px 8px 5px;
}

a:hover{
  opacitY:1;
}
a:active{
  top:4px;
  box-shadow:#c0392b 0px 3px 2px,#000 0px 3px 5px;
}

@import "compass/css3";
body {
  font-family: "Helvetica Neue";
  font-size: 20px;
  font-weight: normal;
}

section {
  max-width: 450px;
  margin: 50px auto;
  div {
    max-width: 255px;
    word-wrap: break-word;
    margin-bottom: 20px;
    line-height: 24px;
  }
}

.clear {
  clear: both
}

.from-me {
  position: relative;
  padding: 10px 20px;
  color: white;
  background: #0B93F6;
  border-radius: 25px;
  float: right;
  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: -2px;
    right: -7px;
    height: 20px;
    border-right: 20px solid #0B93F6;
    border-bottom-left-radius: 16px 14px;
    -webkit-transform: translate(0, -2px);
  }
  &:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: -2px;
    right: -56px;
    width: 26px;
    height: 20px;
    background: white;
    border-bottom-left-radius: 10px;
    -webkit-transform: translate(-30px, -2px);
  }
}

.from-them {
  position: relative;
  padding: 10px 20px;
  background: #E5E5EA;
  border-radius: 25px;
  color: black;
  float: left;
  &:before {
    content: "";
    position: absolute;
    z-index: 2;
    bottom: -2px;
    left: -7px;
    height: 20px;
    border-left: 20px solid #E5E5EA;
    border-bottom-right-radius: 16px 14px;
    -webkit-transform: translate(0, -2px);
  }
  &:after {
    content: "";
    position: absolute;
    z-index: 3;
    bottom: -2px;
    left: 4px;
    width: 26px;
    height: 20px;
    background: white;
    border-bottom-right-radius: 10px;
    -webkit-transform: translate(-30px, -2px);
  }
}

@keyframes loud {
  20% {
    transform: rotate3d(0, 0, 1, 5deg) scale3d(1.5, 1.5, 1.5);
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2);
  }
  25% {
    transform: rotate3d(0, 0, 1, -5deg) scale3d(1.5, 1.5, 1.5);
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2);
  }
  30% {
    transform: rotate3d(0, 0, 1, 5deg) scale3d(1.5, 1.5, 1.5);
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2);
  }
  35% {
    transform: rotate3d(0, 0, 1, -5deg) scale3d(1.5, 1.5, 1.5);
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2);
  }
  40% {
    transform: rotate3d(0, 0, 1, 5deg) scale3d(1.5, 1.5, 1.5);
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2);
  }
  45% {
    transform: rotate3d(0, 0, 1, -5deg) scale3d(1.5, 1.5, 1.5);
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2);
  }
  50% {
    transform: rotate3d(0, 0, 1, 5deg) scale3d(1.5, 1.5, 1.5);
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2);
  }
  60% {
    transform: rotate3d(0, 0, 1, 5deg) scale3d(1.5, 1.5, 1.5);
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2);
  }
  to {
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

.loud {
  animation-duration: 5.0s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
  transform-origin: center center;
  animation-name: loud;
  animation-iteration-count: infinite;
}

@keyframes slam {
  /*0% {
    transform: rotate3d(0, 0, 1, 5deg) scale3d(3, 3, 3) translate3d(-50px, -10px, 0);
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2);
  }*/
  18% {
    transform: rotate3d(0, 0, 1, 0deg) scale3d(2,2,2) translate3d(0, 0, 0);
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.45);
  }
  40% {
    transform: rotate3d(0, 0, 1, 1deg) scale3d(1,1,1) translate3d(-1px, -1px, 0);
    box-shadow: 10px 10px 100px 2px rgba(0, 0, 0, 0.25);
  }
  55% {
    transform: rotate3d(0, 0, 1, 0deg) scale3d(2,2,2) translate3d(0px, 0px, 0);
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2);
  }

/*  70% {
    transform: rotate3d(0, 0, 1, 0deg) scale3d(3,3,3) translate3d(0px, 0px, 0);
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2);
  }*/
  to {
    transform: rotate3d(0, 0, 1, 0deg);
    box-shadow: 0px 0px 125px 5px rgba(0, 0, 0, 0);
  }
}

.slam {
  animation-duration: 10.0s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(.87, .58, .25, 1.29);
  transform-origin: center center;
  animation-name: slam;
  animation-iteration-count: infinite;
}

@keyframes gentle {
  0%,
  50% {
    transform: scale3d(1.5, 1.5, 1.5);
     box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.45);
  }
  }
  to {
    transform: rotate3d(0, 0, 1, 0deg);
     box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.45);
  }
  }
}

@keyframes gentle-text {
  0%,
  50% {
    transform: scale3d(0.5, 0.5, 0.5);
  }
  0% {
    transform: scale3d(0.5, 0.5, 0.5);
  }
  to {
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

.gentle {
  animation-duration: 4s;
  animation-fill-mode: both;
  animation-timing-function: ease-out;
  transform-origin: bottom right;
  animation-name: gentle;
  animation-iteration-count: infinite;
  p {
    animation-duration: 4s;
    animation-fill-mode: both;
    animation-timing-function: ease-out;
    transform-origin: center center;
    animation-name: gentle-text;
    animation-iteration-count: infinite;
  }
}