.box {
	width: 80vw;
	height: 1vw;
	margin: 10vw;
	color: white;
	font-family: helvetica, sans-serif;
	font-size: 2vw;
	text-align: center;
	float: left;
	
}

.box1 {
	width: 80vw;
	height: 1vw;
	margin: 10vw;
	color: white;
	font-family: helvetica, sans-serif;
	font-size: 2vw;
	text-align: center;
	float: left;

}

.box2 {
	width: 80vw;
	height: 1vw;
	margin: 10vw;
	color: white;
	font-family: helvetica, sans-serif;
	font-size: 2vw;
	text-align: center;
	float: left;
	
}

.box3 {
	width: 80vw;
	height: 1vw;
	margin: 10vw;
	color: white;
	font-family: helvetica, sans-serif;
	font-size: 2vw;
	text-align: center;
	float: left;
	
}

.box4 {
	width: 80vw;
	height: 1vw;
	margin: 10vw;
	color: white;
	font-family: helvetica, sans-serif;
	font-size: 2vw;
	text-align: center;
	float: left;
	
}

.box5 {
	width: 80vw;
	height: 1vw;
	margin: 10vw;
	color: white;
	font-family: helvetica, sans-serif;
	font-size: 2vw;
	text-align: center;
	float: left;
	
}